.edit{
    color: white;
    border: 2px;
    cursor: pointer;
}
.delete{
    color: white;
    border: 2px;
    cursor: pointer;
}


.recordInfo{
    color: red;
    display: flex;justify-content: center;

}
a.edit {
    margin-right: 10px;
}