.updatebtn{
    width: 100px;
}
.addImage.bg-primary.text-white{
    height: 40px;
    border-radius: 59%;
    width: 40px;
    padding-top: 12px;
    padding-left: 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}


textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
    width: 90%;
    margin-left: 20px;
}
.btn.btn-primary, .btn.btn-primary.disabled, .btn.btn-primary:disabled {
    background-color: #0f034e;
    border-color: #0f034e;
    margin-left: 20px!important;
    margin-bottom: 25px!important;
}

.card-title.font-weight-bold.mt-5 {
    margin-left: 35px!important;
}

label.aboutMe.form-label {
    margin-left: 32px!important;
}

select.nice-select{
    width: 48% !important;
    height: 35px !important;
    border:1px !important;
}